<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
%load_ext sql

In [2]:
import csv
import sqlite3
from prettytable import from_db_cursor  # to display results prettily

# Connect to SQLite database
con = sqlite3.connect("spacex_SQLData.db")
cur = con.cursor()

In [3]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print("Tables in database:", tables)

Tables in database: []

In [9]:
%sql sqlite:///spacex_SQLData.db

In [10]:
import pandas as pd
df = pd.read_csv("Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [12]:
#DROP THE TABLE IF EXISTS
%sql DROP TABLE IF EXISTS SPACEXTABLE

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
Done.

[]

In [13]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
%sql SELECT DISTINCT "LaunchSite" FROM SPACEXTBL

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) no such column: LaunchSite
[SQL: SELECT DISTINCT LaunchSite FROM SPACEXTBL]
(Background on this error at: https://sqlalche.me/e/20/e3q8)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [19]:
%sql SELECT * FROM spacex_data WHERE LaunchSite LIKE 'CCA%' LIMIT 5;

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) no such table: spacex_data
[SQL: SELECT * FROM spacex_data WHERE LaunchSite LIKE 'CCA%' LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [22]:
%sql SELECT SUM("Payload mass") FROM spacex_data WHERE Customer LIKE '%NASA (CRS)%';

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) near "mass": syntax error
[SQL: SELECT SUM(Payload mass) FROM spacex_data WHERE Customer LIKE '%NASA (CRS)%' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [23]:
%sql SELECT AVG("Payload mass") FROM spacex_data WHERE "Version Booster" = 'F9 v1.1';

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) near "mass": syntax error
[SQL: SELECT AVG(Payload mass) FROM spacex_data WHERE Version Booster = 'F9 v1.1' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [24]:
%sql SELECT MIN(Date) FROM spacex_data WHERE "Booster landing" LIKE '%ground pad%' AND "Launch outcome" = 'Success';

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) near "landing": syntax error
[SQL: SELECT MIN(Date) FROM spacex_data WHERE Booster landing LIKE '%ground pad%' AND Launch outcome = 'Success' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [25]:
%sql SELECT DISTINCT Serial FROM spacex_data WHERE "Booster landing" LIKE '%drone ship%' AND "Launch outcome" = 'Success' AND "Payload mass" BETWEEN 4000 AND 6000;

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) near "landing": syntax error
[SQL: SELECT DISTINCT Serial FROM spacex_data WHERE Booster landing LIKE '%drone ship%' AND Launch outcome = 'Success' AND Payload mass BETWEEN 4000 AND 6000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 7




##### List the total number of successful and failure mission outcomes

In [27]:
%sql SELECT "Launch outcome", COUNT(*) AS Total FROM spacex_data GROUP BY "Launch outcome";

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) near "outcome": syntax error
[SQL: SELECT Launch outcome , COUNT(*) AS Total FROM spacex_data GROUP BY Launch outcome ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [ ]:
%sql SELECT "BoosterVersion", "PayloadMass" FROM spacex_data WHERE "PayloadMass" = (SELECT MAX("PayloadMass") FROM spacex_data);

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) no such table: spacex_data
[SQL: SELECT BoosterVersion , PayloadMass FROM spacex_data WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM spacex_data);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [29]:
%sql SELECT  SUBSTR(Date, 6, 2) AS Month,"Landing_Outcome", "BoosterVersion", "LaunchSite" FROM spacex_data WHERE "Landing_Outcome" LIKE '%Failure%' AND "Landing_Outcome" LIKE '%drone ship%' AND SUBSTR(Date, 0, 5) = '2015';

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) no such table: spacex_data
[SQL: SELECT SUBSTR(Date, 6, 2) AS Month,Landing_Outcome, BoosterVersion , LaunchSite FROM spacex_data WHERE Landing_Outcome LIKE '%Failure%' AND Landing_Outcome LIKE '%drone ship%' AND SUBSTR(Date, 0, 5) = '2015' ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [30]:
%sql SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count FROM spacex_data WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY Outcome_Count DESC;

   sqlite:///my_data1.db
 * sqlite:///spacex_SQLData.db
(sqlite3.OperationalError) no such table: spacex_data
[SQL: SELECT Landing_Outcome , COUNT(*) AS Outcome_Count FROM spacex_data WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)